*
body {
    background-color: #f4f3f3;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }
h1
{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #000;
}